<footer class="site-footer">
  <div class="site-footer-inner">
    {% for item in site.data.settings.social %}
      {% assign key = item[0] %}
      {% assign url = item[1] %}

      {% if url contains "mailto:" %}
        <a href="#"
           class="footer-email site-footer-link"
           data-email="{{ url | remove: 'mailto:' }}"
           aria-label="{{ key }}">
          <img
            src="{{ '/assets/footer/' | append: key | append: '.svg' | relative_url }}"
            alt="{{ key }}"
            class="site-footer-icon">
        </a>
      {% else %}
        <a href="{{ url }}"
           class="site-footer-link"
           aria-label="{{ key }}"
           target="_blank"
           rel="noopener">
          <img
            src="{{ '/assets/footer/' | append: key | append: '.svg' | relative_url }}"
            alt="{{ key }}"
            class="site-footer-icon">
        </a>
      {% endif %}
    {% endfor %}

    <p class="site-footer-text">
      © 2026 {{ site.title }}
    </p>
  </div>
</footer>


<!-- <footer style="
  background: {{ site.data.settings.brand.dark }};
  color: {{ site.data.settings.brand.surface1 }};
  padding: 0.5rem 1rem;
  margin-top: 1rem;
">
  <div style="
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
  ">
    {% for item in site.data.settings.social %}
      {% assign key = item[0] %}
      {% assign url = item[1] %}

      {% comment %}
      Check if link is an email
      {% endcomment %}
      {% if url contains "mailto:" %}
        <a href="#"
           onclick="if(window.innerWidth < 768){ window.location.href='{{ url }}'; } else { window.open('https://mail.google.com/mail/?view=cm&to={{ url | remove: 'mailto:' }}','_blank'); }"
           aria-label="{{ key }}"
           style="display:flex; align-items:center;">
          <img src="{{ '/assets/footer/' | append: key | append: '.svg' | relative_url }}"
               alt="{{ key }}"
               style="width:18px;height:18px; pointer-events:auto;">
        </a>
      {% else %}
        <a href="{{ url }}"
           aria-label="{{ key }}"
           target="_blank"
           rel="noopener"
           style="display:flex; align-items:center;">
          <img src="{{ '/assets/footer/' | append: key | append: '.svg' | relative_url }}"
               alt="{{ key }}"
               style="width:18px;height:18px; pointer-events:auto;">
        </a>
      {% endif %}
    {% endfor %}

    <!-- Site Title -->
    <!-- <p style="margin:0; font-size:0.875rem; line-height:1.2;">
      © 2026 {{ site.title }}
    </p>
  </div>
</footer> --> 
