<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  {% include head.html %}

  <!-- Content Security Policy -->
  <meta http-equiv="Content-Security-Policy"
    content="
      default-src 'self';
      script-src 'self' https://www.googletagmanager.com;
      style-src 'self';
      img-src 'self' data:;
      frame-src https://www.googletagmanager.com;
      form-action 'self' https://docs.google.com;
    ">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="stylesheet"
        href="{{ '/assets/css/main.css' | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}">
</head>

<body>
  {% if site.google_tag_manager %}
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe
      src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0"
      width="0"
      style="display:none;visibility:hidden">
    </iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% endif %}

  {% include navbar.html %}

  <main>
    <div class="container">
      {{ content }}
    </div>
  </main>
  

  {% include footer.html %}

  <script src="{{ '/assets/js/main.js' | relative_url }}" defer></script>
  {% if page.permalink == "/contact/" %}
  <script src="{{ '/assets/js/contact-form.js' | relative_url }}" defer></script>
{% endif %}
</body>
</html>
